* {
    margin: 00px;
    padding: 00px;

}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#1b263b;
    
}


.boxgap{

    color: grey;
    font-size: 50px;
}

.container .box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin:  20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: bold;
    border-radius: 20%;
    color: grey;
    box-shadow: 10px 10px 5px #000000;

    -webkit-box-reflect: below 0.1px linear-gradient(transparent, #000000) ;

   }

.container .boxhover1:hover{

    background-color: #07527a;
    color: white;
    font-size: 60px;
    font-weight: bolder;
   
}
.container .boxhover2:hover{

    background-color: #f5870ada;
    color: white;   
    font-size: 60px;
    font-weight: bolder;
   

}
.container .boxhover3:hover{

    background-color: #0ae21cb9;
    color: white;
    font-size: 60px;
    font-weight: bolder;
   

}

